.made_to_order {
    border-bottom: 1px solid #000;
}

.mto-social-contact {
    background: #eee;
}

.made_to_order nav {
    background: #fff;
}

.storeLogistic-header, .common-inventory-header {
    padding: 10px;
    border-bottom: 2px solid #000;
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 20%);
    margin-bottom: 30px;
}

.storeLogistic-header nav a , .common-inventory-header nav a {
    color: #000;
    font-size: 1.2em;
    font-weight: 300;
}


.StoreType {
    margin: auto;
    width: 75%;
    padding: 30px;
    text-align: center;
    background: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 10px 30px -15px #999;
    transition: 0.3s ease-in-out;
}

.StoreType:hover  {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.StoreType a , .StoreType a:hover , .StoreType a:focus {
    font-size: 1.5em;
    text-decoration: none;
}

.StoreType a h3 {
    color: #000;
}

.StoreType a img {
    width: 100px;
    margin-bottom: 10px;
}

.inventory-form {
    padding: 20px;
}

.common-store-header .saveBtn {
    padding: 10px 0;
    border-bottom: 1px solid #f4f4f4;
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 20%);
}

.common-store-header .saveBtn button {
    padding: 5px 20px;
    border-radius: 5px;
    border:1px solid #f4f4f4;
    background: #000;
    color: #fff;
    cursor: pointer;
    margin: auto 25px auto auto;
}

.common-store-header nav>div {
    border-bottom: 1px solid #000;;
}

.common-store-header img {
    width: 60px;
    display: block;
    margin: 10px auto;
}

.common-store-header a {
    font-size: 1.5em;
    font-weight: 600;
    color: #000;
    margin: 15px auto;
}

.inventory-form label {
    font-size: 0.9rem;
}

.inventory-form input , .inventory-form select, .made_to_order_form input  {
    border: 1px solid #ced4da;
    padding: 5px;
    border-radius: 5px;
    width: 80%;
    cursor: text;
}

.inventory-form select {
    cursor: pointer;
}

.inventory-form textarea, .made_to_order_form textarea {
    border: 2px solid #000;
    border-radius: 5px;
    width: 50%;
    padding: 10px;
    min-height: 80px;
}


.weekDays-selector input {
    display: none!important;
}

.weekDays-selector input[type=checkbox] + label {
    display: inline-block;
    border-radius: 6px;
    background: #dddddd;
    font-weight: 600;
    height: 40px;
    width: 30px;
    margin-right: 3px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.weekDays-selector input[type=checkbox]:checked + label {
    background: #000000;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 10px 30px -15px #999;
}

.made_to_order_form {
    padding: 20px;
}

.change-layout-btn {
    background: #fff;
    padding: 20px;
    color: #c82333;
    border: none;
    font-weight: 600;
    margin: auto;
    cursor: pointer;
}

.change-layout-btn:hover {
    color: #c82333;
}

.order-list  {
    width: 95%;
    border-bottom: 1px solid #000;
    box-shadow: 0 10px 30px -15px #999;
    margin: 10px 0;
}

.order-list a {
    background: #f4f4f4;
    font-weight: 600;
    font-size: 0.9em;
    margin: 5px auto;
    border-radius: 40px;
}

.orders-desc {
    margin: 20px auto;
    padding: 10px;
    border-bottom: 1px solid #000;
}

.orders-desc img {
    width: 80%;
    display: block;
    margin: auto;
}

.orders-desc h6>span {
    position: absolute;
    right: 20%;
}

.total-order-value span {
    position: absolute;
    right: 20%;
}

.facebook-btn {
    border: 2px solid #3b5998;
    border-radius: unset;
    text-align: center;
    width: 100px;
    margin: 10px;
}

.google-btn {
    border-radius: unset;
    border: 2px solid #DB4437;
    text-align: center;
    width: 100px;
    margin: auto 10px;
    }

.hr-sect {
    display: flex;
    margin: 25px auto;
    flex-basis: 80%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
}
.hr-sect:before,
.hr-sect:after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0;
    line-height: 0;
    margin: 0 8px;
}

.sub-head {
    width: 85%;
    margin: 10px 0;
}

.register-main-input {
    width: 60%;
    border:none;
    border-bottom: 2px solid #000;
    padding: 5px 10px;
    outline: none;
}

[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease;
    text-indent: -100%;
    opacity: 1;
}

.register-submit-btn, .register-submit-btn:hover, .register-submit-btn:focus{
    border: 2px solid #ff6060;
    background: #ff6060;
    color: #fff;
    font-weight: 600;
    border-radius: unset;
    text-align: center;
    width: 100px;
    margin: 25px auto;
}

.verication-otp-input {
    width: 60%;
    border:none;
    border-bottom: 2px solid #000;
    padding: 5px 10px;
    outline: none;
}

.otp-subhead {
    width: 65%;
    text-align: left;
    margin: 10px auto;
}

.verify-submit-btn , .verify-submit-btn:hover , .verify-submit-btn:focus {
    display: block;
    border: 2px solid #ff6060;
    background: #ff6060;
    color: #fff;
    font-weight: 500;
    border-radius: unset;
    text-align: center;
    width: 120px;
    font-size: 0.9em;
    margin: 25px auto;
}

.verification-changemail-link , .verification-resend-link {
    display: block;
    border-radius: unset;
    color:#90a4ae;
    text-align: center;
    margin: auto 50px;
    font-size: 0.8em;
    text-decoration: underline;
}


@media (max-width: 991px) {
    .inventory-form textarea, .made_to_order_form textarea {
        width: 65%;
    }

    .orders-desc h6>span {
        right: 0;
    }

    .total-order-value span {
        position: absolute;
        right: 5%;
    }
}

@media (max-width: 768px) {
    .storeLogistic-section h1 {
        font-size: 1.2em;
    }

    .StoreType {
        padding: 10px;
    }

    .StoreType h3 {
        font-size: 0.8em;
    }

    .StoreType img {
        width: 80px;
    }

    .inventory-form textarea, .made_to_order_form textarea {
        width: 95%;
    }

    .order-list h6 {
        width: max-content;
        font-size: 0.8em;
    }

    .order-list a {
        background: #f4f4f4;
        font-weight: 700;
        font-size: 9px;
        margin: 5px auto;
        width: 100%;
        border-radius: 40px;
    }

    .orders-desc img {
        width: 55%;
        margin: 20px auto;
    }

    .orders-desc h6>span {
        right: 0;
    }

    .total-order-value {
        font-size: 1em;
    }

}
