html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Alegreya Sans', sans-serif;
}

.theme11-nav {
    height: 0;
}

.p-30 {
    padding: 30px 0;
}

.p-50 {
    padding: 50px 0;
}

.p-100 {
    padding:100px 0;
}

header {
    border-bottom: 1px solid #2b435e;
}

header a {
    color: #2b435e;
    font-weight: 500;
    font-size: 1.5em ;
    background: #fffeee;
}

header a:hover {
    text-decoration: none;
}

.theme11_banner {
    background: url("https://images.unsplash.com/photo-1594997791780-02379aeccc46?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80") center no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    box-shadow: inset 0 0 0 2000px rgb(34 38 41 / 50%);
}

.theme11_banner h1 {
    font-size: 5.5em;
    color: #fffffb;
    position: absolute;
    bottom: 25px;
   text-align: center;
    width: 100%;
}

.theme11-head {
    font-size: 3em ;
    color: #2b435e;
    text-align: center;
}

.theme11-hr {
    width: 20%;
    border: 0;
    height: 3px;
    background: #2b435e;
    border-radius: 50%;
}

.theme11-user {
    background: #cadadb;
}

.theme11-user img {
    float: right;
    width: 100%;
}

.theme11-userQuote {
    margin: auto;
}

.theme11-userQuote>div {
    background: #eee;
    padding: 10px;
}

.theme11-userQuote figure {
    background: #fff;
    text-align: center;
    padding: 1rem;
    margin: 1rem !important;
}

.theme11-userQuote blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    margin: 0.25em 0;
    padding: 0.35em 40px;
    line-height: 1.45;
    color: #383838;
    quotes: "\201C""\201D""\2018""\2019";
}

.theme11-userQuote blockquote:before {
    display: block;
    padding-left: 10px;
    content: open-quote;
    font-size: 80px;
    color: #7a7a7a;
    text-align: center;
}

.theme11-userQuote figure>hr {
    width: 40%;
    border: 0;
    height: 3px;
    background: #2b435e;
    border-radius: 50%;
}

.theme11-userQuote figure>h2, .theme11-userQuote figure p  {
    color: #2b435e;
}

.theme-11-products img {
    width: 90%;
    display: block;
    margin: auto;
}

.theme-11-products h1 {
    text-align: center;
    margin: 20px auto;
    color: #2b435e;
    font-weight: 700;
}

.theme-11-products p {
    text-align: center;
    padding: 10px;
    color: #2b435e;
    font-weight: 600;
}

.theme11-products-brief p {
    font-size: 1.2em;
    font-weight: 500;
    color: #2b435e;
    text-align: center;
    margin-bottom: 40px;
}

.theme11-menu-button, .theme11-menu-button:hover, .theme11-menu-button:focus {
    border: 2px solid #2b435e;
    background: #2b435e;
    color: #fff;
    padding:2px 10px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
}

.theme11-menu-button:hover {
    transform: scale(1.1);
    background: #fff;
    color: #2b435e;
}

.theme11-menu img {
    max-width: 100%;
    display: block;
    margin: auto auto 20px;
}


.theme11-menu {
    margin: auto;
}

.theme11-menu a {
    transition: opacity 1s ease,transform 1s ease;
}

.theme11-menu a:hover, .theme11-menu a:focus {
    text-decoration: none;
    transition: opacity 1s ease,transform 1s ease;
}

.theme11-menu p {
    font-size: 1.1em;
    color: #2b435e;
    font-weight: 400;
    text-align: center;
}

.theme11-product-page .carousel-inner img {
    width: 100%;
}

.theme11-product-page .carousel-indicators li {
    margin: auto 10px;
}

/*.theme11-product-back {*/
/*    display: none;*/
/*    transition: 0.6s ease-in-out;*/
/*}*/

/* .theme11-menu.theme11-product-front {*/
/*    display: block;*/
/*    transition: 0.6s ease-in-out;*/
/*}*/

/*.theme11-menu a:hover .theme11-product-front {*/
/*    display: none;*/
/*    transition: opacity 1s ease,transform 1s ease;*/

/*}*/

/*.theme11-menu a:hover .theme11-product-back {*/
/*    display: block;*/
/*    transition: 0.6s ease-in-out;*/
/*    transform: translate(0);*/
/*}*/



@media (max-width: 1200px) and (min-width: 991px) {

}

@media (max-width: 991px) and (min-width: 767px) {
    .theme11-userQuote blockquote {
        padding: 0.35em;
    }
}

@media (max-width: 767px) {
    .theme11-user img {
        float: none;
        width: 90%;
        display: block;
        margin: 5px auto;
    }

    .theme11-userQuote blockquote {
        padding: 0.35em;
    }

    .theme11-userQuote>div {
        margin: 10px auto;
        padding: 1px;
    }


    .theme11-products-brief p {
        margin-bottom: 20px;
    }

    .theme11_banner h1 {
        font-size: 3.5em;
    }

    .theme11-head {
        font-size: 2.5em ;
    }

}

